# Environment mode (development, test, production)
NODE_ENV="development"

# GitHub OAuth
GITHUB_CLIENT_ID="your_client_id"
GITHUB_CLIENT_SECRET="your_client_secret"
GITHUB_CALLBACK_URL="http://localhost:3000/auth/github/callback"

# JWT Secrets
JWT_ACCESS_SECRET="your_access_secret"
JWT_REFRESH_SECRET="your_refresh_secret"

# External APIs
GENDERIZE_API_URL="https://api.genderize.io"
AGIFY_API_URL="https://api.agify.io"
NATIONALIZE_API_URL="https://api.nationalize.io"

# GitHub API URLs
GITHUB_AUTH_URL="https://github.com/login/oauth/authorize"
GITHUB_TOKEN_URL="https://github.com/login/oauth/access_token"
GITHUB_USER_API_URL="https://api.github.com/user"
ADMIN_NAME="Borngreat Ikwutah"
FRONTEND_URL="http://localhost:3000"
